{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    TO-DOs for {{ session.user_name }}

{% endblock %}



{% block content %}
{% if session.user_id %}

    <h3>TO-DOs</h3>

        <article>
        <ul>
            {% for task in tasks %}
                {% if task.completed == false %}

                <p class="task">                    
                    <span class="status">
                        <a href="/complete/{{ task.id }}">⬜</a>        
                    </span> 
                    <span class="priority">({{ task.priority }})</span>
                    <span class="name">{{ task.name }}</span>
                    

                </p>
                {% endif %}

            {% else %}

                <p>No Tasks</p>

            {% endfor %}
        </ul>
        </article>
    <h3>Completed</h3>

        <article>
        <ul>
            {% for task in tasks %}
                {% if task.completed %}

                <p class="task">                    
                    <span class="status">
                        <a href="/incomplete/{{ task.id }}">✅</a>
                        <a href="/delete/{{ task.id }}"> <span style="color:red">Delete</span> </a>               
                    </span> 
                    <span class="priority">({{ task.priority }})</span>
                    <span class="name">{{ task.name }}</span>
                </p>
                {% endif %}
            {% else %}

                <p>No Tasks</p>

            {% endfor %}
        </ul>
        </article>


    <article>

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                placeholder="Priority 1 - 5"
                required
            >

            <button>Add the Task</button>

        </form>

    </article>

{% endif %}


{% endblock %}

